.father-projects {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/mainbackground.jpg");
}

.projects-filter {
  width: 100vw;
  height: 100vh;
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(32,32,32,0.6460959383753502) 7%, rgba(0,0,0,0.6629026610644257) 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
