.father-projects {
  background-image: url("../img/mainbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; /* Keeps the background fixed */
  width: 100vw;
  height: 100vh; /* Keep the height fixed to the viewport height */
  overflow-y: auto;
}

.projects-filter {
  width: 100vw;
  height: 100vh;
  background: rgb(32,32,32);
  background: radial-gradient(circle, rgba(32,32,32,0.6460959383753502) 7%, rgba(0,0,0,0.6629026610644257) 63%);
}

.carousel-container {
  height: 300px;
  display: flex;
  justify-content: center;
}

.carousel-text {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .father-projects{
    overflow-y: auto;
    background-size:inherit;
  }

  .projects-filter {
    width: 100vw;
    height: 100vh; /* Keep the height fixed to the viewport height */
    overflow-y: auto;
    display: flex;
    gap: 90px;
    flex-direction: column;
    align-items: center;
  }

  .nav-projects {
    height: 300px;
    padding-bottom: 20px;
    padding-top: 30px;
  }

  .carousel-container {
    margin-top: 15%;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carousel-text {
    width: 80%;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 2560px) {
  .projects-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-projects {
    padding-top: 30px;
    height: 300px;
  }

  .carousel-container {
    margin-top: 4%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-text {
    width: 40%;
    margin-right: 7%;
  }
}
